{
    "env": {
        "browser": true,
        "node": true,
        "shared-node-browser": true,
        "serviceworker": true,
        "worker": true,
        "mocha": true
    },
    "extends": "eslint:recommended",
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
           "presets": ["@babel/preset-react"]
        },
    },
    "rules": {
        "indent": [
            "error",
            "tab",
            { "SwitchCase": 1 }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-undef": 0,
        "no-unused-vars": 0,
        "complexity": [
            "error",
            20
        ],
        "eqeqeq": [
            "warn"
        ],
        "no-alert": [
            "error"
        ],
        "no-else-return": [
            "warn"
        ],
        "no-magic-numbers": [
            "warn",
            { 
                "ignore": [0,1,2,-1],
                "ignoreArrayIndexes": true,
                "enforceConst": true
            }
        ],
        "no-self-compare": [
            "error"
        ],
        "no-undef-init": [
            "error"
        ],
        "no-multiple-empty-lines": [
            "warn"
        ],
        "no-trailing-spaces": [
            "error"
        ],
        "no-const-assign": [
            "error"
        ],
        "no-var": [
            "error"
        ],
        "prefer-const": [
            "error",
            {
            "destructuring": "all"
            }
        ],
        "no-console": [
            "error", {
                "allow": ["error", "debug"]
            }
        ]
    }
}